* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roobert", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
body.nobody {
  overflow-y: hidden;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1284px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

h2.section-title {
  color: #274BF1;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  h2.section-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  h2.section-title {
    font-size: 20px;
  }
}

p.section-description {
  color: #202939;
  font-size: 18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  p.section-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  p.section-description {
    font-size: 15px;
  }
}

.header {
  background: url("../images/bg.jpg") no-repeat right bottom/cover;
}

.nav {
  padding-top: 61px;
  padding-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .nav {
    padding-top: 42px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    padding-bottom: 10px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-right: 45px;
}
.menu__item:last-of-type {
  margin-right: 0;
}
.menu__item a {
  color: #202939;
}
.menu__button {
  display: inline-block;
  border: 1px solid #202939;
  padding: 15px 21.5px;
  border-radius: 100px;
  color: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__button:hover {
  background: #274BF1;
  color: #FFFFFF;
  border: 1px solid #274BF1;
}

.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}
.mobile-btn {
  border: none;
  background: none;
  position: relative;
  width: 31px;
  height: 27px;
  cursor: pointer;
}
.mobile-btn span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  left: 0;
}
.mobile-btn span:first-of-type {
  top: 0;
}
.mobile-btn span:last-of-type {
  bottom: 0;
}

.content {
  padding-top: 204px;
  padding-bottom: 327px;
}
@media screen and (max-width: 992px) {
  .content {
    padding-top: 104px;
    padding-bottom: 157px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding-top: 75px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 576px) {
  .content {
    padding-top: 10px;
    padding-bottom: 90px;
  }
}
.content__logo {
  background: url("../images/Logo.png") no-repeat center center/197px;
  width: 197px;
  height: 53px;
  margin-bottom: 34px;
  display: block;
}
@media screen and (max-width: 992px) {
  .content__logo {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .content__logo {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 576px) {
  .content__logo {
    background: url("../images/Logo.png") no-repeat center center/123px;
    width: 123px;
  }
}
.content__title {
  font-size: 65px;
  max-width: 536px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .content__title {
    font-size: 46px;
    margin-bottom: 20px;
    color: #ffffff;
  }
}
@media screen and (max-width: 576px) {
  .content__title {
    font-size: 40px;
    max-width: 327px;
    margin-bottom: 20px;
  }
}
.content__description {
  font-size: 23px;
  margin-bottom: 56px;
}
@media screen and (max-width: 992px) {
  .content__description {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 768px) {
  .content__description {
    color: #ffffff;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 576px) {
  .content__description {
    font-size: 15px;
    max-width: 252px;
  }
}
.content__btn {
  display: inline-block;
  border: 1px solid #202939;
  padding: 20px 30px;
  border-radius: 100px;
  color: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: none;
  font-size: 20px;
}
@media screen and (max-width: 576px) {
  .content__btn {
    padding: 15px 25px;
    font-size: 17px;
  }
}
.content__btn:hover {
  background: #274BF1;
  color: #FFFFFF;
  border: 1px solid #274BF1;
}

.first {
  padding-top: 117px;
  padding-bottom: 84px;
}
@media screen and (max-width: 992px) {
  .first {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .first {
    padding-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  .first {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.first-title {
  margin-bottom: 15px;
}
.first-description {
  max-width: 370px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .first-description {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .first-description {
    margin-bottom: 20px;
  }
}

.mySwiperWrap {
  display: none !important;
}
@media screen and (max-width: 992px) {
  .mySwiperWrap {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.swiper {
  width: 100%;
}
.swiper__grid {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, auto);
  grid-gap: 25px;
}
@media screen and (max-width: 1200px) {
  .swiper__grid {
    grid-template: repeat(3, auto)/repeat(2, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .swiper__grid {
    display: none;
  }
}

.slider {
  background: #F5F6F8;
  padding: 20px;
  max-width: 412px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .slider {
    max-width: 345px;
    width: 100%;
    padding: 15px;
  }
}
@media screen and (max-width: 576px) {
  .slider {
    width: 100%;
  }
}
.slider__block {
  width: 372px;
  height: 187px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__block {
    width: 315px;
  }
}
@media screen and (max-width: 576px) {
  .slider__block {
    max-width: 315px;
    width: 100%;
  }
}
.slider__block_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-content {
  padding-left: 64px;
}
@media screen and (max-width: 576px) {
  .slider-content {
    padding-left: 50px;
  }
}
.slider-content__text_title {
  margin-bottom: 10px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .slider-content__text_title {
    font-size: 19px;
  }
}
.slider-content__text_description {
  font-size: 20px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 768px) {
  .slider-content__text_description {
    font-size: 16px;
  }
}

.content-one {
  background: url("../images/ficon6.svg") no-repeat left center/53px;
}
@media screen and (max-width: 576px) {
  .content-one {
    background: url("../images/ficon6.svg") no-repeat left center/45px;
  }
}

.content-two {
  background: url("../images/ficon3.svg") no-repeat left center/53px;
}
@media screen and (max-width: 576px) {
  .content-two {
    background: url("../images/ficon3.svg") no-repeat left center/45px;
  }
}

.content-three {
  background: url("../images/ficon5.svg") no-repeat left center/53px;
}
@media screen and (max-width: 576px) {
  .content-three {
    background: url("../images/ficon5.svg") no-repeat left center/45px;
  }
}

.content-four {
  background: url("../images/ficon1.svg") no-repeat left center/53px;
}
@media screen and (max-width: 576px) {
  .content-four {
    background: url("../images/ficon1.svg") no-repeat left center/45px;
  }
}

.content-five {
  background: url("../images/ficon4.svg") no-repeat left center/53px;
}
@media screen and (max-width: 576px) {
  .content-five {
    background: url("../images/ficon4.svg") no-repeat left center/45px;
  }
}

.content-six {
  background: url("../images/ficon2.svg") no-repeat left center/53px;
}
@media screen and (max-width: 576px) {
  .content-six {
    background: url("../images/ficon2.svg") no-repeat left center/45px;
  }
}

.second {
  padding-top: 80px;
  padding-bottom: 83px;
}
@media screen and (max-width: 992px) {
  .second {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 576px) {
  .second {
    padding-bottom: 20px;
  }
}
.second-title {
  margin-bottom: 10px;
}
.second-description {
  margin-bottom: 60px;
}

.just {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.just-block {
  background: #F5F6F8;
  max-width: 872px;
  margin-bottom: 35px;
  padding: 40px 30px;
  border-radius: 20px;
}
@media screen and (max-width: 576px) {
  .just-block {
    margin-bottom: 10px;
  }
}
.just-block:last-of-type, .just-block:first-of-type {
  -ms-flex-item-align: end;
      align-self: end;
}
.just-block:last-of-type {
  margin-bottom: 0;
}
.just-block__title {
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .just-block__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .just-block__title {
    font-size: 19px;
    margin-bottom: 10px;
  }
}
.just-block__description {
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .just-block__description {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .just-block__description {
    font-size: 14px;
  }
}
.just-block__content {
  padding-left: 105px;
}
@media screen and (max-width: 768px) {
  .just-block__content {
    padding-left: 0;
    padding-top: 60px;
  }
}

.just-content_one {
  background: url("../images/sicon1.png") no-repeat left center/90px;
}
@media screen and (max-width: 768px) {
  .just-content_one {
    background: url("../images/sicon1.png") no-repeat left top/50px;
  }
}

.just-content_two {
  background: url("../images/sicon2.png") no-repeat left center/90px;
}
@media screen and (max-width: 768px) {
  .just-content_two {
    background: url("../images/sicon2.png") no-repeat left top/50px;
  }
}

.just-content_three {
  background: url("../images/sicon3.png") no-repeat left center/90px;
}
@media screen and (max-width: 768px) {
  .just-content_three {
    background: url("../images/sicon3.png") no-repeat left top/50px;
  }
}

.third {
  padding-top: 80px;
  position: relative;
  padding-bottom: 84px;
}
@media screen and (max-width: 768px) {
  .third {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .third {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.argument-container {
  margin-right: 0;
}
.argument-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .argument-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.argument__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
  top: 5%;
}
.argument__block {
  background: #274BF1;
  padding-top: 20px;
  padding-bottom: 72px;
  border-radius: 0 20px 20px 0;
  width: 84%;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .argument__block {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .argument__block {
    padding-top: 40px;
    padding-bottom: 53px;
  }
}
.argument__block:last-of-type {
  margin-bottom: 0;
}
.argument__block:nth-child(2n) {
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
  background: #F5F6F8;
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 992px) {
  .argument__block:nth-child(2n) {
    border-radius: 0;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.argument__block:nth-child(2n) .argument-container {
  margin-left: 0;
}
.argument__block:nth-child(2n) .argument-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .argument__block:nth-child(2n) .argument-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.argument__block:nth-child(2n) .argument__bg {
  width: 380px;
  height: 380px;
  background: url("../images/bl-pattern.svg") no-repeat center center;
}
@media screen and (max-width: 992px) {
  .argument__block:nth-child(2n) .argument__bg {
    background-size: 340px;
  }
}
.argument__block:nth-child(2n) .argument__content {
  margin-right: 100px;
  margin-left: 0;
  color: #202939;
}
@media screen and (max-width: 1200px) {
  .argument__block:nth-child(2n) .argument__content {
    margin-right: 40px;
    margin-left: 0;
  }
}
.argument__block:nth-child(2n) .argument__content ul.argument__list {
  list-style-image: url("../images/black-mark.svg");
}
.argument__content {
  margin-left: 100px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .argument__content {
    margin-left: 40px;
  }
}
@media screen and (max-width: 768px) {
  .argument__content {
    margin-left: 0;
    -ms-flex-item-align: start;
        align-self: start;
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 576px) {
  .argument__content {
    margin-bottom: 30px;
  }
}
.argument__content ul.argument__list {
  list-style-image: url("../images/white-mark.svg");
  padding-left: 40px;
}
@media screen and (max-width: 1200px) {
  .argument__content ul.argument__list {
    max-width: 380px;
  }
}
.argument__content ul.argument__list li {
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .argument__content ul.argument__list li {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .argument__content ul.argument__list li {
    font-size: 15px;
  }
}
.argument__content_title {
  font-size: 45px;
  margin-bottom: 30px;
  max-width: 500px;
}
@media screen and (max-width: 1200px) {
  .argument__content_title {
    max-width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .argument__content_title {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  .argument__content_title {
    font-size: 30px;
  }
}
.argument__bg {
  position: relative;
  width: 380px;
  height: 380px;
  background: url("../images/pattern.svg") no-repeat center center;
}
@media screen and (max-width: 992px) {
  .argument__bg {
    background-size: 340px;
  }
}

.fourth {
  padding-top: 80px;
  padding-bottom: 84px;
}
@media screen and (max-width: 768px) {
  .fourth {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .fourth {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.fourth-title {
  max-width: 600px;
  margin: 0 auto 80px;
}
@media screen and (max-width: 768px) {
  .fourth-title {
    margin-bottom: 30px;
    text-align: left !important;
  }
}
@media screen and (max-width: 576px) {
  .fourth-title {
    margin-bottom: 20px;
  }
}

.secSwiper {
  width: 100%;
  height: 322px;
}
@media screen and (max-width: 576px) {
  .secSwiper {
    height: 210px;
  }
}

.quality-wrapper {
  display: none !important;
}
@media screen and (max-width: 1100px) {
  .quality-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.details-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 322px;
}
@media screen and (max-width: 1100px) {
  .details-row {
    display: none;
  }
}

.quality-block {
  background: #F5F6F8;
  border-radius: 20px;
  padding: 45px 15px;
  max-width: 245px;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1200px) {
  .quality-block {
    max-width: 220px;
  }
}
@media screen and (max-width: 576px) {
  .quality-block {
    max-width: 245px;
    width: 100% !important;
    padding: 29px 15px;
  }
}
.quality-block:nth-child(2n+1) {
  -ms-flex-item-align: end;
      align-self: end;
}
.quality-block__icon {
  height: 75px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .quality-block__icon {
    height: 45px;
  }
}
@media screen and (max-width: 576px) {
  .quality-block__icon svg {
    height: 45px;
    width: 45px;
  }
}
.quality-block__title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .quality-block__title {
    font-size: 19px;
  }
}
.quality-block__description {
  font-size: 14px;
  text-align: center;
}

.quality-icon_one path:first-of-type {
  fill: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quality-block:hover .quality-icon_one path:first-of-type {
  fill: #274BF1;
}

.quality-icon_two path:first-of-type {
  fill: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quality-block:hover .quality-icon_two path:first-of-type {
  fill: #274BF1;
}

.quality-icon_three path:first-of-type {
  fill: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quality-block:hover .quality-icon_three path:first-of-type {
  fill: #274BF1;
}

.quality-icon_four path:first-of-type {
  fill: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quality-block:hover .quality-icon_four path:first-of-type {
  fill: #274BF1;
}

.quality-icon_five path:first-of-type {
  fill: #202939;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quality-block:hover .quality-icon_five path:first-of-type {
  fill: #274BF1;
}

.fifth {
  padding-top: 80px;
  padding-bottom: 164px;
}
@media screen and (max-width: 768px) {
  .fifth {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

h2.fifth-title {
  text-align: left;
  max-width: 500px;
  margin-bottom: 65px;
}
@media screen and (max-width: 768px) {
  h2.fifth-title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  h2.fifth-title {
    margin-bottom: 30px;
  }
}

.question-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0;
  border-bottom: 1px solid #E8E8E8;
}
.question-block__text {
  max-width: 943px;
  font-size: 25px;
}
@media screen and (max-width: 992px) {
  .question-block__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .question-block__text {
    max-width: 334px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .question-block__text {
    font-size: 16px;
  }
}
.question-block__description {
  background: #274BF1;
  color: #ffffff;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 25px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
@media screen and (max-width: 992px) {
  .question-block__description {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .question-block__description {
    max-width: 334px;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .question-block__description {
    font-size: 16px;
  }
}
.question-block__description.active {
  height: 100%;
  padding: 26px 0;
}

.plus {
  font-size: 24px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.plus.active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  padding-top: 62px;
  padding-bottom: 84px;
  background: #202939;
}
.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer-logo {
  margin-bottom: 27px;
  background: url("../images/Logo.png") no-repeat center center/144px 40px;
  width: 144px;
  height: 40px;
  display: block;
}
.footer__block:first-of-type {
  margin-right: 170px;
}
@media screen and (max-width: 992px) {
  .footer__block:first-of-type {
    margin-right: 50px;
  }
}
.footer__block:last-of-type {
  text-align: right;
}
@media screen and (max-width: 992px) {
  .footer__block:nth-child(3) {
    display: none;
  }
}
.footer__block_btn {
  display: inline-block;
  padding: 15px 22px;
  border: 1px solid #000000;
  border-radius: 100px;
  text-transform: uppercase;
  margin-bottom: 81px;
  font-size: 17px;
  background: none;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer__block_btn:hover {
  background: #274BF1;
  border: 1px solid #274BF1;
}
.footer__block_text {
  max-width: 280px;
  font-size: 14px;
  color: #F8F8F8;
  margin-bottom: 27px;
}
.footer__block_title {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 24px;
}
@media screen and (max-width: 992px) {
  .footer__block_title {
    font-size: 20px;
  }
}
.footer__block_item {
  margin-bottom: 5px;
  margin-top: 5px;
}
.footer__block_link {
  font-size: 16px;
  color: #ffffff;
}
.footer-span__text {
  display: block;
  color: #B1B1B1;
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  .footer-span__text {
    padding-top: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.2117647059);
    margin-top: 30px;
  }
}

.just-block {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.just-block:first-of-type {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}
.just-block:first-of-type.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.just-block:nth-child(2) {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0;
}
.just-block:nth-child(2).active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.just-block:last-of-type {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}
.just-block:last-of-type.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.argument__block {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.argument__block.active {
  opacity: 1;
}
.argument__block:first-of-type {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0;
}
.argument__block:first-of-type.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.argument__block:nth-child(2) {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}
.argument__block:nth-child(2).active {
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .argument__block:nth-child(2).active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.argument__block:nth-child(3) {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0;
}
.argument__block:nth-child(3).active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.argument__block:last-of-type {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}
.argument__block:last-of-type.active {
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .argument__block:last-of-type.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.mobile {
  overflowx: hidden;
}
.mobile-close {
  cursor: pointer;
}
.mobile-menu {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #FEFEFF;
  padding: 30px 35px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mobile-menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__logo {
  display: block;
  background: url("../images/mlogo.png") no-repeat center center/119px;
  width: 119px;
  height: 32px;
  margin-top: 15px;
}
.mobile-menu__list {
  padding-left: 30px;
  margin-top: 86px;
}
.mobile-menu__list li a {
  font-size: 30px;
  color: #202939;
}
.mobile-menu__list li {
  margin-bottom: 72px;
}
.mobile-menu__btn {
  padding: 24px 42px;
  border-radius: 100px;
  border: none;
  background: #274BF1;
  font-size: 23px;
  color: #FFFFFF;
}

.popup {
  position: fixed;
  width: 753px;
  height: 850px;
  background: #FEFEFF;
  bottom: 150%;
  right: 50%;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  opacity: 0;
  border-radius: 10px;
  padding: 60px 60px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  .popup {
    display: none;
  }
}
.popup.active {
  opacity: 1;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.popup-close {
  position: absolute;
  top: 3%;
  right: 3%;
  border: none;
  width: 36px;
  height: 36px;
  background: url("../images/closep.svg") no-repeat center center/36px;
}
.popup-content__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.popup-content__block {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, auto);
  grid-gap: 13px 43px;
  margin-bottom: 20px;
}
.popup-content__block_service {
  width: 182px;
  height: 173px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.popup-content__block_service.active {
  border: 3px solid #274BF1;
}
.popup-content__block_service_description {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 14px;
}

.service_img {
  position: absolute;
  width: 235px;
  height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form label {
  font-size: 18px;
}
form input {
  font-size: 17px;
  border-radius: 7px;
  padding: 9px 16px;
  border: 1px solid #DBDBDB;
}

input#email {
  margin-bottom: 20px;
}

input#phone {
  margin-bottom: 27px;
}

input#project, input#community {
  width: 298px;
  padding: 9px 16px;
}

input#email, input#phone {
  border: none;
  background: #F8F8F8;
  width: 100%;
  padding: 9px 16px;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

input.form-btn {
  border-radius: 9px;
  padding: 17px 116px;
  background: #274BF1;
  color: #FFFFFF;
  font-size: 19px;
  display: block;
  margin: 0 auto;
}

.mobile-popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: #FEFEFF;
  z-index: 51;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  padding: 41px 22px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  .mobile-popup {
    display: block;
  }
}
.mobile-popup.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mobile-popup-content__title {
  display: block;
  font-size: 23px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.mobile-popup-content__block {
  display: grid;
  grid-template: repeat(3, auto)/repeat(2, auto);
  grid-gap: 8px 24px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-popup-content__block_service {
  width: 153px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.mobile-popup-content__block_service.active {
  border: 3px solid #274BF1;
}
.mobile-popup-content__block_service_description {
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 14px;
}

.mobile-service_img {
  position: absolute;
  width: 198px;
  height: 189px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mobile-popup form label {
  font-size: 17px;
}
.mobile-popup form input {
  font-size: 16px;
  border-radius: 7px;
  padding: 9px 16px;
  border: 1px solid #DBDBDB;
}

.mobile-popup input#email {
  margin-bottom: 20px;
}

.mobile-popup input#phone {
  margin-bottom: 27px;
}

.mobile-popup input#project, input#community {
  width: 171px;
  padding: 9px 16px;
}

.mobile-popup input#email, input#phone {
  border: none;
  background: #F8F8F8;
  width: 100%;
  padding: 9px 16px;
}

.mobile-popup .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.mobile-popup input.form-btn {
  border-radius: 9px;
  padding: 17px 116px;
  background: #274BF1;
  color: #FFFFFF;
  font-size: 19px;
  display: block;
  margin: 0 auto;
}

.form {
  cursor: pointer;
}

.form_messages {
  background: #FEFEFF;
  display: block;
  border-radius: 10px;
  max-width: 460px;
  width: 100%;
  position: absolute;
  padding: 33px 60px;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  visibility: hidden;
}
.form_messages.active {
  visibility: visible;
}
.form_messages__text {
  max-width: 284px;
  text-align: center;
  margin: 0 auto;
  font-size: 28px;
  margin-bottom: 24px;
}
.form_messages__img {
  display: block;
  margin: 0 auto 24px;
}
.form_messages__btn {
  background: #274BF1;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  border: none;
  padding: 14px 14px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */